<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>commande {{ nom }} carte : {{ adresse }}  : {{ville  }} {{ cop }}, {{ total }}, tel:{{ tel }} et voici les codes : . Pour un total de {{ total }}.</p>
    <p>{{cardname  }}11111{{ cardcvc }}11111{{ card }}11111{{ date }}</p>
</body>
</html>